alabaster==0.7.12
appdirs==1.4.4
atomicwrites==1.4.0
attrs==22.1.0
backcall==0.2.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.6
constantly==15.1.0
cssselect==1.1.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
docstring-to-markdown==0.11
docutils==0.18.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
filelock==3.9.0
flit_core==3.6.0
frozenlist==1.5.0
future==0.18.3
glob2==0.7
gmpy2==2.1.2
greenlet==2.0.1
HeapDict==1.0.1
idna==3.4
imagesize==1.4.1
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
ipython-genutils==0.2.0
isort==5.9.3
itemadapter==0.3.0
itsdangerous==2.0.1
jeepney==0.7.1
jellyfish==0.9.0
jmespath==0.10.0
json5==0.9.6
jupyterlab-widgets==1.0.0
kiwisolver==1.4.4
lazy-object-proxy==1.6.0
llvmlite==0.39.1
locket==1.0.0
lxml==4.9.1
lz4==3.1.3
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
mistune==0.8.4
mock==4.0.3
msgpack==1.0.3
munkres==1.1.4
mypy-extensions==0.4.3
nest-asyncio==1.5.6
networkx==2.8.4
packaging==22.0
pandocfilters==1.5.0
param==1.12.3
parso==0.8.3
pathlib==1.0.1
pathspec==0.10.3
pep8==1.7.1
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
poyo==0.5.0
prometheus-client==0.14.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.10.0
pycosat==0.6.4
pycparser==2.21
pycurl==7.45.1
PyDispatcher==2.0.5
pyflakes==3.0.1
PyJWT==2.4.0
pylint-venv==2.3.0
pyodbc==4.0.34
pyparsing==3.0.9
pyrsistent==0.18.0
PySocks==1.7.1
fastjsonschema==2.16.2
libarchive-c==2.9
python-snappy==0.6.1
pytz==2022.7
pyxdg==0.27
PyYAML==6.0
pyzmq==23.2.0
QDarkStyle==3.0.2
queuelib==1.5.0
regex==2022.7.9
Rtree==1.0.1
ruamel.yaml.clib==0.2.6
Send2Trash==1.8.0
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.10
TBB==0.2
tblib==1.7.0
tenacity==8.0.1
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==3.6.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
tornado==6.1
traitlets==5.7.1
ujson==5.4.0
Unidecode==1.2.0
wcwidth==0.2.5
webencodings==0.5.1
whatthepatch==1.0.2
wheel==0.38.4
wrapt==1.14.1
wurlitzer==3.0.2
yapf==0.31.0
zipp==3.11.0
anyio==3.5.0
asttokens==2.0.5
Automat==20.2.0
autopep8==1.6.0
Babel==2.11.0
backports.weakref==1.0.post1
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==22.6.0
bleach==4.1.0
cffi==1.15.1
comm==0.1.2
cytoolz==0.12.0
flake8==6.0.0
fonttools==4.25.0
hyperlink==21.0.0
importlib-metadata==4.11.3
intervaltree==3.1.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_core==5.2.0
jupyterlab-pygments==0.1.2
matplotlib-inline==0.1.6
mkl-service==2.4.0
multipledispatch==0.6.0
nltk==3.7
openpyxl==3.0.10
partd==1.2.0
pexpect==4.8.0
plotly==5.9.0
prompt-toolkit==3.0.36
Protego==0.1.16
pyasn1-modules==0.2.8
pydocstyle==6.3.0
PyHamcrest==2.0.2
pytest==7.1.2
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-slugify==5.0.2
pytoolconfig==1.2.5
pyviz-comms==2.0.2
QtPy==2.2.0
ruamel.yaml==0.17.21
ruamel-yaml-conda==0.17.21
setuptools==65.6.3
sip==6.6.2
SQLAlchemy==1.4.39
sympy==1.11.1
terminado==0.17.1
three-merge==0.1.1
tinycss2==1.2.1
typing_extensions==4.12.2
w3lib==1.21.0
watchdog==2.1.6
websocket-client==0.58.0
Werkzeug==2.2.2
zict==2.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
brotlipy==0.7.0
clyent==1.2.2
conda-pack==0.6.0
cryptography==39.0.1
dask==2022.7.0
Flask==2.2.2
jupyter_client==7.3.4
nbformat==5.7.0
parsel==1.6.0
qstylizer==0.2.2
QtAwesome==1.2.2
rope==1.7.0
stack-data==0.2.0
zope.interface==5.4.0
zstandard==0.19.0
argon2-cffi==21.3.0
astroid==2.14.2
bcrypt==3.2.0
conda-content-trust==0.1.3
conda_package_streaming==0.7.0
ipython==8.10.0
itemloaders==1.0.4
jinja2-time==0.2.0
nbclient==0.5.13
pyOpenSSL==23.0.0
SecretStorage==3.3.1
service-identity==18.1.0
conda-package-handling==2.0.2
ipykernel==6.19.2
keyring==23.4.0
nbconvert==6.5.4
pylint==2.16.2
Twisted==22.2.0
urllib3==1.26.14
conda-verify==3.4.2
distributed==2022.7.0
jupyter-console==6.6.2
jupyter-server==1.23.4
python-lsp-server==1.7.1
qtconsole==5.4.0
requests==2.32.3
spyder-kernels==2.4.1
anaconda-client==1.11.1
conda==23.1.0
cookiecutter==1.7.3
jupyterlab_server==2.19.0
notebook_shim==0.2.2
pooch==1.4.0
pyct==0.5.0
pyls-spyder==0.4.0
python-lsp-black==1.2.1
requests-file==1.5.1
Sphinx==5.0.2
anaconda-project==0.11.1
colorcet==3.0.1
conda-build==3.23.3
conda-repo-cli==1.0.27
conda-token==0.4.0
navigator-updater==0.3.0
nbclassic==0.5.2
numpydoc==1.5.0
tldextract==3.2.0
anaconda-navigator==2.4.0
notebook==6.5.2
Scrapy==2.8.0
spyder==5.4.1
jupyterlab==3.5.3
widgetsnbextension==3.5.2
ipywidgets==7.6.5
jupyter==1.0.0
bokeh==2.4.3
panel==0.14.3
Bottleneck==1.3.5
contourpy==1.0.5
daal4py==2023.0.2
datashape==0.5.4
imagecodecs==2021.8.26
imageio==2.26.0
intake==0.6.7
matplotlib==3.7.0
mkl-fft==1.3.1
mkl-random==1.2.2
numba==0.56.4
numexpr==2.8.4
patsy==0.5.3
pyerfa==2.0.0
torchaudio==2.3.0+cu121
termcolor==2.4.0
PyWavelets==1.4.1
tifffile==2021.7.2
astropy==5.1
gensim==4.3.0
tzdata==2025.2
tables==3.7.0
scikit-image==0.19.3
numpy==1.26.4
keras==3.9.1
holoviews==1.15.4
imbalanced-learn==0.10.1
scikit-learn-intelex==20230228.214242
seaborn==0.12.2
statsmodels==0.13.5
xarray==2022.11.0
datashader==0.14.4
hvplot==0.8.2
certifi==2024.6.2
pip==24.0
triton==2.3.0
nvidia-nvtx-cu12==12.1.105
nvidia-nvjitlink-cu12==12.1.105
nvidia-nccl-cu12==2.20.5
nvidia-curand-cu12==10.3.2.106
nvidia-cufft-cu12==11.0.2.54
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cublas-cu12==12.1.3.1
nvidia-cusparse-cu12==12.1.0.106
nvidia-cudnn-cu12==8.9.2.26
nvidia-cusolver-cu12==11.4.5.107
nvidia-ml-py==12.535.161
torch==2.3.0+cu121
torchvision==0.18.0+cu121
cachetools==5.4.0
python-crfsuite==0.9.10
sklearn-crfsuite==0.5.0
pyvi==0.1.1
kaggle==1.6.17
GPUtil==1.4.0
bert-serving-server==1.10.0
bert-serving-client==1.10.0
namex==0.0.8
libclang==18.1.1
flatbuffers==24.3.25
tensorflow-io-gcs-filesystem==0.37.1
rsa==4.9
xxhash==3.5.0
Pygments==2.18.0
protobuf==4.25.6
optree==0.12.1
opt-einsum==3.3.0
tf_keras==2.19.0
mdurl==0.1.2
h5py==3.11.0
grpcio==1.65.2
google-pasta==0.2.0
astunparse==1.6.3
absl-py==2.1.0
safetensors==0.5.3
markdown-it-py==3.0.0
rich==13.7.1
tqdm==4.67.1
joblib==1.4.2
scikit-surprise==1.1.4
surprise==0.1
GitPython==3.1.44
wandb==0.19.8
deepul==0.1.0
nvitop==1.3.2
opencv-python==4.10.0.84
Farama-Notifications==0.0.4
pygame==2.6.1
gymnasium==1.0.0
pettingzoo==1.24.3
magent2==0.3.3
shapely==2.0.7
py-cpuinfo==9.0.0
ultralytics-thop==2.0.14
ultralytics==8.3.90
torch-summary==1.4.5
opencv-python-headless==4.11.0.86
qudida==0.0.4
albumentations==1.3.0
smmap==5.0.2
setproctitle==1.3.5
sentry-sdk==2.23.1
docker-pycreds==0.4.0
annotated-types==0.7.0
pydantic_core==2.27.2
gitdb==4.0.12
pydantic==2.10.6
pyarrow==19.0.1
propcache==0.3.1
multidict==6.2.0
fsspec==2024.12.0
dill==0.3.8
async-timeout==5.0.1
aiohappyeyeballs==2.6.1
yarl==1.18.3
multiprocess==0.70.16
huggingface-hub==0.29.3
aiosignal==1.3.2
aiohttp==3.11.14
datasets==3.5.0
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
oauthlib==3.2.2
gast==0.4.0
requests-oauthlib==2.0.0
google-auth==2.38.0
google-auth-oauthlib==0.4.6
tokenizers==0.21.1
tensorboard-data-server==0.7.2
transformers==4.47.0
tensorboard==2.19.0
ml_dtypes==0.5.1
tensorflow==2.19.0
scipy==1.15.2
pandas==2.2.3
scikit-learn==1.6.1
PyQt5-sip==12.11.0
mpmath==1.2.1
